:host {
  display: block;
  padding: 5px;
  width: 100%;
}


i {
  display: inline-block;
  border-radius: 10px;
  padding: 5px;



}
.mat-list-icon {
  color: rgba(0,0,0,0.54);
}
.teacher-name {
  color: royalblue;
}
.lesson-type {
  font-style: italic;
}
.info-item {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 5px;
  border-radius: 50%;
}
.info-icon {
  background-color: black;
  border-radius: 50%;
  margin: 0px 3px;
}
.button-container {
  text-align: center;
}
