<p>
  <md-card><mwl-calendar-month-view
    [viewDate]=" todayDate()"
    [events]="events"
    locale="uk"
    weekStartsOn="1">
  </mwl-calendar-month-view></md-card>

  <md-card><mwl-calendar-week-view
    [viewDate]=" todayDate()"
    [events]="events"
    locale="uk"
    weekStartsOn="1">
  </mwl-calendar-week-view></md-card>
  <md-card><mwl-calendar-day-view
    [viewDate]=" todayDate()"
    [events]="events"
    [dayStartHour]="8"
    dayStartMinute="30"
    locale="uk">
  </mwl-calendar-day-view></md-card>

</p>
