<nav color="accent">
  <button  color="grey" class="menu-btn left" id="nav-btn" md-button (click)="sidenav.toggle()"><md-icon>menu</md-icon></button>
  <button *ngIf="!loggedIn" class="menu-btn right" color="accent" md-raised-button (click)="openLoginDialog()">Увійти</button>
  <button *ngIf="loggedIn" class="menu-btn right" color="primary" md-button (click)="logout()">Вийти</button>
  <i *ngIf="role">{{getRole()}}</i>
</nav>
<md-sidenav-container>
  <md-sidenav mode="over" #sidenav>
    <a routerLink="/timetable"
       routerLinkActive="active"
       class="sidenav-item"
       md-button
       (click)="sidenav.close()">Розклад</a>
    <a routerLink="/news"
       routerLinkActive="active"
       class="sidenav-item"
       md-button
       (click)="sidenav.close()">Новини</a>
    <a routerLink="/settings"
       routerLinkActive="active"
       class="sidenav-item"
       md-button
       (click)="sidenav.close()">Налаштування</a>

  </md-sidenav>

  <div id="content">
    <router-outlet></router-outlet>
  </div>
</md-sidenav-container>
