<md-toolbar color="primary">
  <span><button   class="menu-btn left" id="nav-btn" md-button (click)="sidenav.toggle()"><md-icon>menu</md-icon></button></span>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>

  <span><button *ngIf="!loggedIn" class="menu-btn right"  md-button (click)="openLoginDialog()"><md-icon>input</md-icon>Увійти</button>
    <button *ngIf="loggedIn" class="menu-btn right"  md-button (click)="logout()"><md-icon>close</md-icon>Вийти</button>
    <button md-button class="right menu-btn"  *ngIf="role" (click)="updateRole()"><md-icon>face</md-icon>{{role}}</button></span>
</md-toolbar>


<md-sidenav-container>
  <md-sidenav mode="over" #sidenav>
    <a routerLink="/timetable"
       routerLinkActive="active"
       class="sidenav-item"
       md-button
       (click)="sidenav.close()"><md-icon>schedule</md-icon>Розклад</a>
    <a routerLink="/calendar"
       routerLinkActive="active"
       class="sidenav-item"
       md-button
       (click)="sidenav.close()"><md-icon>event</md-icon>Календар</a>
    <a routerLink="/progress"
       routerLinkActive="active"
       class="sidenav-item"
       md-button
       (click)="sidenav.close()"><md-icon>trending_up</md-icon>Прогрес</a>
    <a routerLink="/settings"
       routerLinkActive="active"
       class="sidenav-item"
       md-button
       (click)="sidenav.close()"><md-icon>settings</md-icon>Налаштування</a>

  </md-sidenav>

  <div id="content">
    <router-outlet></router-outlet>
  </div>
</md-sidenav-container>
